/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 5px;
    background-color: #f4f4f9;
}

h1 {
    font-size: 20;
    color: #333;
    text-align: center;
}

form {
    font-size: 12px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1 1 1px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

label {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"] {
    font-size: 12px;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 12px;
    width: 100%;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos para la tabla */
table {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

th, td {
    font-size: 12px;
    padding: 5px;
    text-align: left;
    border-bottom: 5px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 12px;
}

tr:hover {
    background-color: #1eda2e7a;
}

.dataTables_wrapper {
    margin-top: 5px;
}

.dataTables_filter label {
    font-size: 12px;
    color: #333;
}

.dataTables_length select {
    width: auto;
    padding: 5px;
    border-radius: 5px;
}

.dataTables_paginate a {
    padding: 1px 1px;
    margin: 1 1x;
    background-color: #4CAF50;
    color: white;
    border-radius: 1px;
    text-decoration: none;
}

.dataTables_paginate a:hover {
    background-color: #45a049;
}
