body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0px;
    background-color: #f4f4f9;
}

h1 {
    font-size: 20;
    color: #333;
    text-align: center;
}

form {
    font-size: 12px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 30 30 30px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: auto;
}

label {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin: auto;
}

input{
    font-size: 12px;
    width: 20%;
    padding: 5px;
    margin: auto;
    margin-bottom: 5px;

    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    text-align: left;
    flex-direction: row;

    border: none;
    border-bottom: 1px solid #3f3f3f;
    border-radius: 0px;
}
input::placeholder{
    color:#5daf6a;
    opacity: 30%;
}

button {
    font-size: 12px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;

    border: none;
    border-bottom: 2px solid #3f3f3f;
    border-left: 2px solid #3f3f3f;
    border-top: 1px solid #3f3f3f;
    border-right: 1px solid #3f3f3f;
    border-radius: 5px;

    margin: auto;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    text-align: left;
    flex-direction: row;
}

button:hover {
    background-color: #45a049;
}

.mensaje-bienvenida {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    text-align: left;
    flex-direction: row;
    margin: 10px;
}

.mensaje-bienvenida p {
    font-size: 10px;
    color: #10801f;
    font-weight: bold;
}

table {
    font-size: 12px;
    width: auto;
    max-width: 600px;
    margin: 5px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    font-size: 12px;
    padding: 2px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dataTables_wrapper {
    width: 80%;
    margin: 0 auto;
}

.dataTables_filter {
    margin-bottom: 5px;
}

.dataTables_length, .dataTables_filter {
    font-size: 12px;
}
