<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Datos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Daten Abrufen</h1>
    
    <form action="/consulta" method="POST">
        <label for="correo">E-Mail:</label>
        <input type="email" placeholder="E-Mail eingeben" id="correo" name="correo" required>
        <button type="submit">Daten Abrufen</button>
    </form>

    <!-- Mensaje de error si no se encuentran resultados -->
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
</body>
</html>
