<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Consulta los datos por correo electrónico">
    <title>TOA Reparaturanfrage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>TOA Reparaturanfrage Portal</h1>
    <div>
        
        <!-- Tabla para mostrar las opciones -->
        <table class="opciones-tabla">
            <tbody>
                <tr>
                    <td>Melde Sich</td>
                    <td></td>
                    <td style="text-align: right;"><a href="/login">Login</a></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Kein Konto?</td>
                    <td></td>
                    <td style="text-align: right;"><a href="/register">Neu Konto</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
