<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Reparaturanfrage Login</h1>
    <form action="/login" method="POST">

        <input type="text" style="text-align: center;" placeholder="User Name" id="username" name="username" required><br>
        <input type="password" style="text-align: center;" placeholder="Password" id="password" name="password" required><br>
        
        <button type="submit">Login</button>

        <p style="text-align: center;"><a href="/recuperar-contraseña">Passwort wiederherstellen</a></p>
        
    </form>
</body>
</html>
